body{
	background-color: #F5F5F5;
}
.footer{
    background-color:gainsboro;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sutura{
padding: 5px;
margin: 10px;

}
.detalle{
	
	/*padding-bottom:100px;*/
	margin-top: 20px;
	margin-bottom: 100px;
	padding-bottom: 100px;
/*	margin-left:0px;
	margin-right: 10px;*/
	background-color: white;
}
.bg-gris{
background-color: #505459;
margin-right:10px;

}
.bm{

	padding: 5px;
}
.alertify-notifier {
      color: white;
}